*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
    --green-color: #06CF9C;
    --darkGreen-color: #222E35;
    --darkGreen-secondary-color: #111B21;
    --gray-color: #AEBAC1;
    --border-color: #4D565C;
    --light-color: #E9EDEF;
}

.btn-icon{
    background: transparent;
    border: none;
    margin-bottom: 23px;
    color: var(--gray-color);
    cursor: pointer;
}

.btn-icon svg{
    height: 24.5px;
    width: 24.5px;
}

.line{
    width: 40%;
    height: 3px;
    background: var(--border-color);
    margin: 0 auto;
    margin-bottom: 22px;
}

.whatsapp-container{
    display: flex;
    height: 100vh;
    width: 100vw;
}

.navigation-menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    position: fixed;
    background: var(--darkGreen-color);
    padding-top: 17px;
    width: 60px;
    border-right: 1px solid var(--border-color);
}

.navigation-menu .top{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.navigation-menu .bottom{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.user-img{
    width: 37px;
    height: 37px;
    margin: 0 auto;
}

.user-img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.chats-container{
    margin-left: 60px;
    background: var(--darkGreen-secondary-color);
    padding-top: 12px;
    width: 430px;
    border-right: 1px solid var(--border-color);
}

.chats-container .header{
    padding: 0 25px 20px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chats-container .header button{
    margin: 5px auto;
    padding-left: 13px;
}

.chats-container .header h1 {
    color: var(--light-color);
    font-size: 1.4rem;
    font-weight: 700;
}

.chats-container .chat-list .top{
    margin: 0 13px;
}

.chats-container .input-container {
    position: relative;
}

.chats-container .search-icon{
    position: absolute;
    top: 9px;
    left: 9px;
}

.chats-container .search-icon svg{
    width: 23px;
    height: 23px;
    color: #889296;
}

.chats-container .input-container #input-search{
    background: var(--darkGreen-color);
    border: none;
    width: 100%;
    padding: 8px 60px;
    border-radius: 10px;
    outline: none;
    color: var(--light-color);
    font-size: 16px;
}

#input-search::placeholder{
    color: #889296;
}