*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .2s;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
    --green-color: #06CF9C;
    --darkGreen-color: #222E35;
    --darkGreen-secondary-color: #111B21;
    --gray-color: #AEBAC1;
    --border-color: #4D565C;
    --light-color: #E9EDEF;
    --message-color: #889296;
}

.btn-icon{
    background: transparent;
    border: none;
    margin-bottom: 23px;
    color: var(--gray-color);
    cursor: pointer;
}

.btn-icon svg{
    height: 24.5px;
    width: 24.5px;
}

.line{
    width: 40%;
    height: 3px;
    background: var(--border-color);
    margin: 0 auto;
    margin-bottom: 22px;
}

.whatsapp-container{
    display: flex;
    height: 100vh;
    width: 100vw;
}

.navigation-menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    position: fixed;
    background: var(--darkGreen-color);
    padding-top: 17px;
    width: 60px;
    border-right: 1px solid var(--border-color);
}

.navigation-menu .top{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.navigation-menu .bottom{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.user-img{
    width: 37px;
    height: 37px;
    margin: 0 auto;
}

.user-img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.chats-container{
    margin-left: 60px;
    background: var(--darkGreen-secondary-color);
    padding-top: 12px;
    width: 430px;
    border-right: 1px solid var(--border-color);
}

.chats-container .header{
    padding: 0 25px 20px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chats-container .header button{
    margin: 5px auto;
    padding-left: 13px;
}

.chats-container .header h1 {
    color: var(--light-color);
    font-size: 1.4rem;
    font-weight: 700;
}

.chats-container .chat-list .top{
    margin: 0 13px;
    margin-bottom: 10px;
}

.chats-container .input-container {
    position: relative;
}

.chats-container .search-icon{
    position: absolute;
    top: 9px;
    left: 9px;
}

.chats-container .search-icon svg{
    width: 23px;
    height: 23px;
    color: var(--message-color);
}

.chats-container .input-container{
    margin-bottom: 12px;
}

.chats-container .input-container #input-search{
    background: var(--darkGreen-color);
    border: none;
    width: 100%;
    padding: 8px 60px;
    border-radius: 10px;
    outline: none;
    color: var(--light-color);
    font-size: 16px;
}

#input-search::placeholder{
    color: var(--message-color);
}

.chats-container .chat-list .btn{
    background: var(--darkGreen-color);
    color: var(--message-color);
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 5px 15px;
    font-size: 15px;
    cursor: pointer;
}

.chats-container .chat-list .btn:focus{
    background: #0A332C;
    color: #009D60;
}

.chats-container .chat-list .bottom{
    display: grid;
    grid-template-rows: auto;
    height: 100%;
}

.chats-container .chat{
    height: 75px;
    display: flex;
    align-items: center;
    padding: 5px 13px;
}
.chats-container .chat:hover{
    cursor: pointer;
    background: var(--darkGreen-color);
}

.chats-container .chat:hover .icon-down{
    opacity: 1;
}

.chats-container .chat .img-container{
    height: 50px;
    width: 50px;
}

.chats-container .chat .img-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.chats-container .chat .right{
    flex-grow: 1;
    border-bottom: 1px solid #222E35;
    height: 100%;
    margin-left: 20px;
    padding: 6px 0;
}

.chats-container .chat .right .person{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chats-container .chat .right .person h3{
    color: var(--light-color);
    font-size: 18px;
    font-weight: 400;
}
.chats-container .chat .right .person .date{
    color: var(--message-color);
    font-size: 13px;
}

.chats-container .chat .message{
    color: var(--message-color);
    font-size: 14.2px;
    font-weight: 400;
    margin-top: 5px;
}

.chats-container .message-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--message-color);
}

.chats-container .message-container .icon-down{
    opacity: 0;
}





